/* FUNNEL */

.funnel {
  min-height: calc(100vh - 180px);
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.funnel__title {
  font-size: 1.6rem;
}

.funnel_options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.funnel_options a,
.funnel_options button,
.funnel_options input,
.funnel_options select {
  color: black;
  padding: 0.7rem 2rem;
  background-color: #ebebeb;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-top: 1rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
}

.funnel_options input::placeholder {
  text-align-last: center;
  color: black;
}

.funnel_options select {
  -webkit-border-radius: 50px;
  -webkit-appearance: none;
  text-align-last: center;
  text-align: center;
}

.country__select {
  position: relative;
}

.country__select-div {
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 10;
  background-color: #ebebeb;
  border-radius: 15px;
  width: 100%;
  color: black;
  padding: 1rem 0;
}

.country__select-div ul {
  padding-left: 0;
  margin-bottom: 0;
}

.country__select-div li {
  list-style: none;
  line-height: 1.5rem;
}

.type__select {
  position: relative;
}

.type__select-div {
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 10;
  background-color: #ebebeb;
  border-radius: 15px;
  width: 100%;
  color: black;
  padding: 1rem 0;
}

.type__select-div ul {
  padding-left: 0;
  margin-bottom: 0;
}

.type__select-div li {
  list-style: none;
  line-height: 1.5rem;
}

.date__select {
  position: relative;
}

.date__select-div {
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 10;
  background-color: #ebebeb;
  border-radius: 15px;
  width: 100%;
  color: black;
  padding: 1rem 0;
}

.date__select-div ul {
  padding-left: 0;
  margin-bottom: 0;
}

.date__select-div li {
  list-style: none;
  line-height: 1.5rem;
}

.funnel_options a:hover,
.funnel_options button:hover,
.funnel_options input:hover,
.funnel_options select:hover {
  color: white;
  background-color: #313131;
  text-decoration: none;
}

.funnel_options .filled {
  color: white;
  background-color: #313131;
}

.funnel__modal {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(25px) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeFinal__btn {
  position: fixed;
  top: 5%;
  left: 5%;
  border: none;
  background: transparent;
  padding: 2rem;
  font-size: 2rem;
}

.funnel__modal form,
.funnel__modal div {
  height: 70vh;
  width: 60vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.funnel__modal input,
.funnel__modal select,
.type__select-dom {
  color: black;
  padding: 0.5rem 2rem;
  background-color: #ebebeb;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 1rem;
  border: none;
  position: relative;
  text-align: center;
}

.formgroup-hidden {
  visibility: hidden;
}

.funnel__modal input::placeholder {
  text-align-last: center;
  text-align: center;
}

.modal__submitButton {
  color: white;
  padding: 0.5rem 2rem;
  background-color: #313131;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 1rem;
  border: none;
  text-align-last: center;
  text-align: center;
}

.funnel__space {
  padding: 8rem 0;
}

.funnel__modal a {
  color: white;
  padding: 0.5rem 2rem;
  background-color: #313131;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  width: 40%;
  margin-top: 1rem;
  border: none;
  text-align-last: center;
  text-align: center;
}

.hide {
  display: none !important;
}

.funnel .test__img {
  height: 40vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.funnel__link {
  width: 30% !important;
  background-color: #313131 !important;
  color: white !important;
}

.calendario__hora {
  width: 25vw;
  font-size: 3em;
  font-weight: 400;
  display: block;
  margin: auto;
  padding: 5px 0;
  background-color: #eeeaea;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.calendario__hora_bloque {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.calendario__hora-nav {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  width: 40%;
}

.calendario__hora-nav p {
  margin: 0px 0;
}

.calendario__hora-nav img {
  width: 12%;
}

/* OTROS */

.funnel__otros {
  min-height: calc(100vh - 180px);
  text-align: center;

  padding: 2rem 0;
}

.funnel__otros form {
  margin: 2rem 5rem;
}

.funnel__otros .form-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(20px, auto);
}

.form-line input {
  color: black;
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid #313131;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 1rem;
  text-align: left;
}

.funnel__otros .funnel_options input:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

.form-line .firstInput {
  grid-column: 1 / 2;
  grid-row: 1;
}

.form-line .secondInput {
  grid-column: 2 / 2;
  grid-row: 1;
}

.funnel__otros form textarea {
  background-color: white;
  border: 1px solid #313131;
  border-radius: 31px;
  width: 100%;
  margin-top: 1rem;
}

.funnel__otros form textarea::placeholder {
  color: black;
  font-size: 1rem;
}

.funnel__otros button {
  color: white;
  background-color: #313131;
  text-align: center;
}

@media (max-width: 980px) {
  .funnel_options a,
  .funnel_options button,
  .funnel_options input,
  .funnel_options select {
    width: 70%;
  }

  .funnel__modal input,
  .funnel__modal button {
    width: 100%;
  }

  .funnel__modal input::-webkit-datetime-edit {
    padding: 1em;
    -webkit-appearance: none;
  }

  .closeFinal__btn {
    position: fixed;
    top: 2%;
    left: 2%;
    border: none;
    background: transparent;
    padding: 1rem;
    font-size: 2rem;
  }

  .funnel__modal button {
    line-height: 0.5rem;
    padding: 1.2rem;
  }

  .funnel .test__img {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .funnel__link {
    width: 50% !important;
  }
}

@media (max-width: 575px) {
  .funnel_options a,
  .funnel_options button,
  .funnel_options input,
  .funnel_options select {
    width: 85%;
  }

  .funnel .test__img {
    width: 90%;
  }

  .funnel__link {
    width: 70% !important;
  }

  .funnel__modal {
    min-height: 150vh;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(35px) !important;
  }

  .funnel__modal form,
  .funnel__modal div {
    width: 80vw;
  }

  .form-line .firstInput {
    grid-column: 1 / 2;
    grid-column-end: span 2;
    grid-row: 1;
  }

  .form-line .secondInput {
    grid-column: 1 / 2;
    grid-column-end: span 2;
    grid-row: 2;
  }

  .funnel__otros form {
    margin: 2rem;
  }

  .funnel__otros .form-line {
    grid-gap: 0px;
  }
}

@media (max-width: 385px) {
  .funnel_options a,
  .funnel_options button,
  .funnel_options input,
  .funnel_options select {
    width: 95%;
  }

  .funnel__otros .funnel_options button,
  .funnel__otros .funnel_options input {
    width: 100%;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .safari_only {
      padding: 1rem 2rem !important;
      line-height: 1rem !important;
      color: #848484;
      -webkit-appearance: none;
    }

    .calendar_p {
      margin: 20px 0 !important;
    }
  }
}
