@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat Semi;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

#SemiBold {
  font-family: Montserrat Semi;
}

.Toastify__toast--default {
  background: transparent !important;
  backdrop-filter: blur(12px) !important;
}

.Toastify__toast-container {
  width: 500px !important;
}

.Toastify__toast {
  width: 500px !important;
  text-align: center !important;
}

@media (max-width: 575px) {
  .Toastify__toast-container {
    width: 100vw !important;
  }

  .Toastify__toast {
    width: 100vw !important;
    padding: 0 10px !important;
    text-align: center !important;
  }
}
